<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">New name</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>List of users:</h2>
        <% if (users.length > 0){%>
            <div>
                <ul>
                    <% for (let user of users) { %>
                        <li><%= user.username %></li>
                    <% } %>
                </ul>
            </div>
        <% } else { %>
            <h3>No users at the moment</h3>
            <a href="/">Add Users</a>
        <% } %>
    </main> 
</body>
</html>